body{
    display: flex;
    margin: 0;
}

.viewfood{
    width: 220px;
    margin: 20px;
    padding: 15px;
    background: white;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0,0,0,0.2);
    text-align: center;
}

.viewfood img{
    width: 100%;
    height: 140px;
    border-radius: 5px;
}